
.bold {
    display: inline-block;
    font-weight: 700;
}

.container {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    margin: 20px;
}

    @media only screen and (min-width: 768px) {
        .container {
            margin: 50px;
        }
    }

    @media only screen and (min-width: 1024px) {
        .container {
            margin: 100px;
        }
    }

.section {
    margin: 70px 0;
}

    @media only screen and (min-width: 768px) {
        .section__gallery {
            margin-top: 120px;
        }
    }

.headline {
    font-weight: 300;
    color: inherit;
    font-size: 32px;
    letter-spacing: 6px;
    line-height: 45px;
}

.navigation {}

    @media only screen and (min-width: 768px) {
        .navigation {
            display: flex;
        }
    }

.navigation a {
    color: inherit;
    text-decoration: none;
}

.navigation__link {
    padding: 0 25px 25px 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 30px;
    position: relative;
}

    @media only screen and (min-width: 768px) {
        .navigation__link {
            padding: 0;
            margin: 0 25px 0 0;
        }
    }

.navigation__link::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    /*margin-top: 2px;*/

    background: #000;
    opacity: 0.5;

    transition: all 0.1s;
    left: 0;
}

.navigation__link:hover::after {
    width: 0;
    left: 50px;
}

    /*@media (hover: hover) {
        .navigation__link:hover::after {
            width: 0;
            left: 50px;
        }
    }*/

.gallery {
    position: relative;
}

.gallery-box {
    position: absolute;
    margin: 0;
    background: #f7f7f7;

    transition: all 0.5s ease;
}

.gallery-box:hover  {
    opacity: 0.8;
}

    @media (hover: none) {
        .gallery-box:hover  {
            opacity: 1;
        }
    }
